@using IndividualLogins.Models
@model IEnumerable<News>
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Latest News</h3>

@foreach (var item in Model)
{
    <div>
        <u>25-07-2017</u> - @item.Text
    </div>
}

<div>
    <u>25-07-2017</u> - Excel feature.
</div>
<div>
    <u>25-07-2017</u> - Authentication.
</div>
<div>
    <u>05-07-2017</u> - Kaunas added.
</div>
<div>
    <u>09-05-2017</u> - Riga launched.
</div>
<div>
    <u>27-04-2017</u> - Vilnius launched.
</div>
<div>
    <u>11-04-2017</u> - Modlin launched.
</div>
<div>
    <u>12-02-2017</u> - Update: Renault Clio Estate(EWAR) added to ECMR|EDMR column.
</div>
<div>
    <u>07-02-2017</u> - Location added: Gdansk (Poland).
</div>

<div>
    <u>07-02-2017</u> - Location added: Krakow (Poland).
</div>


